*.log
.DS_Store
.env
.env.backup
.env.production
/.env.local
/.env.test
.phpactor.json
.phpunit.result.cache
.php_cs.cache
/.pint
/.php-cs-fixer.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/coverage
/coverage.xml
/auth.json
/node_modules
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore
/vendor
Homestead.json
Homestead.yaml
/.phpunit.cache
/.phpunit.cache/*
/.vscode-test
Thumbs.db

# Sistema operacional / IDE
ehthumbs.db
Icon?
Desktop.ini

# Ferramentas de container/CI (opcional)
/.docker
/.github
